<h1>Gameplays#index</h1>
<p>Trivia Game</p>

<ul>
  <% @players.each do |player| %>
    <li>
      <%= player.name %>
      <%= player.created_at %>
    </li>
  <% end %>
</ul>

<ul>
  <% @questions.each do |question| %>
    <li>Question:
      <%= question.text %>
    </li>
    <% Answer.where(question_id: question.id).each do |answer| %>
      <li>
        <%= answer.text %>
      </li>
    <% end %>
  <% end %>
</ul>